<!DOCTYPE html>
<html lang="en">
<head>
    <!-- other head elements -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="{{'/assets/css/style.scss'| relative_url }}">
</head>
<body>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="{{'/assets/css/style.css'| relative_url }}">
    <!-- Any site-wide header or navigation can go here -->
    {{ content }}
    <!-- Any site-wide footer can go here -->
</body>
</html>

/posts/scaling-laws.html
/posts/scaling-laws.html 